body {
    display:flex;
    flex-direction:column;
    justify-content:center;
    min-height:100vh;

}

.shoot_button, .return_button {
    align-items: center;

    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue", sans-serif;
    font-size: 100%;
    line-height: 1.15;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out, background .13s ease-in-out, opacity .13s ease-in-out, box-shadow .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 600px;
}
.x_input {
    display: inline-block;
    width: 450px;
    font-size: 24px;
    margin: 10px auto;
    font-family: "RM Neue", sans-serif;
}
.y_checkboxes div {
    display: inline-block;
    width: 50px;
    font-size: 24px;
    margin: 10px auto;
    font-family: "RM Neue", sans-serif;
}
.shoot_form label {
    display: inline-block;
    font-size: 24px;
    margin: 10px auto;
    font-family: "RM Neue", sans-serif;
}
.return_button{
    background-color: red;
    height: 50px;
    text-align: center;
    display: block;
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom: 10px;

}
.r_input {
    display: inline-block;
    width: 450px;
    font-size: 24px;
    margin: 10px auto;
    font-family: "RM Neue", sans-serif;
}
.shoot_button{
    background-color: #0276FF;
    height: 100px;
    text-align: center;
    display: block;
    margin: 10px auto;
    padding-top: 10px;
}


.shoot_form{
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-family: "RM Neue", sans-serif;

}
#image{
    display: block;
    margin: auto;
    padding: 10px;
}
canvas { border: 1px solid black; }

